# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel

# JSON files
Selected_satellites.json
TLE_first_50.json
TLE_positions_first_50.json

# TXT files
APIResponse.txt
